*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: white;
}
img{vertical-align: middle;
    margin-left: 20px;
}
h1{
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}
body{
    background-color: lightgray;
}
nav{
    background-color: white;
    margin: 50px 100px 1px 100px;
    padding: 20px 190px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.bobj{
    color: white;
    background-color: rgb(71, 173, 241);
    border-radius: 5px;
    padding: 5px 10px;
    border-color: rgb(71, 173, 241);
}
#btn{
    color: grey;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border-width: 1px;
    border-color: gray;
}
section{
    background-color: white;
    margin: 0px 100px 0px 100px;
    padding: 20px 190px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.tasti{
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}
.check{
    border-radius: 50%;
    border: 1px solid green;
    padding: 2px;
    color: green;
}
.cross{
    border-radius: 50%;
    border: 1px solid red;
    padding: 3px;
    color: red;
}
.tastobl{
    background-color: rgb(71, 173, 241);
}
.tastovi{
    background-color: rgb(156, 114, 228);
}
.tastove{
    background-color: rgb(100, 192, 169);
}
.tastoar{
    background-color: rgb(242, 158, 51);
}
.tastors{
    background-color: rgb(216, 99, 161);
}
.tastovec{
    background-color: rgb(176, 201, 38);
}